.slider-categories {
  width: 100%;
}

.control {
  display: flex;
  gap: 0 10px;
  width: max-content;
  margin: 0 auto;
  margin-top: 32px;
  color: var(--gray);
}

.title-category {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 20px;
  font-family: var(--font-default);
}
